<section id="about-me" class="about-me">
    <h2>About me</h2>
    <img width="350" src="assets/Elihai.png" />
    <div class="content">
        <span>Hi everybody! I'm Elihai Ben Avraham.</span> <br>
        <span>I started studying computer science at Shazar High School in Bat Yam, where I completed 10 study units.</span> <br>
        <span>After that, I completed a bachelor's degree in computer science at the Ashkelon Academic College.</span> <br>
        <span>In addition, I'm a fan of the football club Hapoel Tel Aviv </span><img class="hta" width="25" src="assets/HTA.png" /> <br>
    </div>
        <ul>
          <li><strong>Birthday:</strong><span>6/1/1995</span></li>
          <li><strong>Phone:</strong><span>052-3141477</span></li>
          <li><strong>Age:</strong><span>26</span></li>
          <li><strong>Status:</strong><span>Single</span></li>
        </ul>
</section>
