.about-me {
    background-color: #007fc9;
    color: white;
    text-shadow: 1px 1px black;
    text-align-last: center;
}

section {
    padding: 0.5rem;
}

.content {
    text-align-last: center;
}

.shazar, .ashkelon, .hta {
    border-radius: 2px;
}

span {
    font-size: 18px;
    line-height: 1.5;
}

h2 {
    font-size: 32px;
    padding: 10px;
}

ul {
    columns: 2;
    list-style: none;
    li {
        font-size: 1.2rem;
        line-height: 2.0;
        strong {
            margin-right: 10px;      
        }
        i {
            margin-right: 15px;
        }
    }
}
