<section id="about-me" class="about-me">
    <h2>About me</h2>
    <img width="350" src="assets/Elihai.png" />
    <div class="content">
        <span class="welcome"><strong>Hi everybody!<br><span class="name">I'm Elihai Ben Avraham.</span></strong></span> <br>
        <span>I started studying computer science and completed 10 study units at Shazar High School in Bat Yam </span>
          <a href="https://shazar.mashov.info" title="תיכון שז''ר בת-ים"><img class="shazar" width="25" src="assets/Shazar.png" /></a> <br>
        <span>After that, I completed a bachelor's degree in computer science at the Ashkelon Academic College </span>
          <a href="https://www.aac.ac.il" title="המכללה האקדמית אשקלון"><img class="ashkelon" width="55" src="assets/Ashkelon.png" /></a> <br>
        <span>In addition, I'm a fan of the football club Hapoel Tel Aviv </span>
          <a href="http://www.htafc.co.il" title="האתר הרשמי של הפועל תל אביב"><img class="hta" width="25" src="assets/HTA.png" /></a> <br>
    </div>
        <ul>
          <li><strong>Birthday:</strong><span class="details">6/1/1995</span><br><strong>Phone:</strong><span class="details">052-3141477</span></li>
          <li><strong>Age:</strong><span class="details">26</span><br><strong>Status:</strong><span class="details">Single</span></li>
        </ul>
</section>
