.about-me {
    background-color: #007fc9;
    color: white;
    text-shadow: 1px 1px black;
    text-align-last: center;
}

section {
    padding: 0.5rem;
}

.container {
    font-size: 22px;
    display: inline-block;
    text-align-last: left;
    padding-left: 15px;
}

.content {
    font-family: Arial, sans-serif;
    font-size: 21px;
}

h2 {
    font-size: 50px;
    padding: 20px;
    padding-bottom: 50px;
}

.elihai {
    margin-bottom: 110px;
}

.welcome {
    font-size: 35px;
}

.name {
    font-size: 25px;
}

span {
    line-height: 2.0;
}

.shazar, .ashkelon, .hta {
    border-radius: 2px;
}

.details {
    font-size: 14px;
}

ul {
    columns: 2;
    list-style: none;
    li {
        font-size: 1.0rem;
        line-height: 2.0;
        strong {
            margin-right: 10px;      
        }
        i {
            margin-right: 15px;
        }
    }
}

span {
    line-height: 2.0;
}

.shazar, .ashkelon, .hta {
    border-radius: 2px;
}

.details {
    font-size: 14px;
}

ul {
    columns: 2;
    list-style: none;
    li {
        font-size: 1.1rem;
        line-height: 2.0;
        strong {
            margin-right: 10px;      
        }
        i {
            margin-right: 15px;
        }
    }
}
