.my-skills {
    height: 100vh;
    background-color: #1ec8fcf6;
    color: white;
    text-shadow: 2px 2px black;
    text-align-last: center;
}

h2 {
    font-size: 32px;
    padding: 10px;
}

p {
    margin-left: 250px;
}
