.my-skills {
    background-color: #2d7286f6;
    color: white;
    text-shadow: 1px 1px black;
    text-align-last: center;
}

section {
    padding: 0.5rem;
}

.content {
    font-size: 20px;
    display: inline-block;
    text-align-last: left;
}

h2 {
    font-size: 50px;
    padding: 20px;
}

span {
    line-height: 2.0;
}

ul {
    padding: 0;
    list-style: none;
    text-align-last: center;
    padding-bottom: 5px;
    li {      
        padding: 0 10px;
        i {
           font-size: 4rem;
           padding: 5px;
           padding-top: 10px;
        }
    }
}
