<section id="my-skills" class="my-skills">
    <h2>My Skills</h2>
    <img class="elihai" width="360" src="assets/Elihai.png" />
    <div class="content">
        <span>During my bachelor, I gained knowledge and experience in the following technologies:</span><br>
        <ul>
            <li>
                <i class="devicon-html5-plain-wordmark colored" title="HTML"></i>
                <i class="devicon-css3-plain-wordmark colored" title="CSS"></i>
                <i class="devicon-javascript-plain colored" title="JavaScript"></i>
                <i class="devicon-typescript-plain colored" title="TypeSceipt"></i>
                <i class="devicon-java-plain-wordmark colored" title="Java"></i>
            </li><br>
            <li>
                <i class="devicon-angularjs-plain colored" title="Angular"></i>
                <i class="devicon-react-original-wordmark colored" title="React"></i>
                <i class="devicon-vscode-plain colored" title="Visual Studio Code"></i>
                <i class="devicon-android-plain-wordmark colored" title="Android Studio"></i>
                <i class="devicon-mysql-plain-wordmark colored" title="MySQL"></i>
            </li>
        </ul>
    </div>
</section>
