.life-experience {
    height: 100vh;
    background-color: #cbdcfa;
    color: black;
    text-shadow: 2px 2px white;
    text-align-last: center;
}

h2 {
    font-size: 32px;
    padding: 10px;
}

p {
    margin-left: 250px;
}
