<section id="life-experience" class="life-experience">
    <h2>Life Experience</h2>
        <div class="content">
            <h3>2017 - 2020</h3>
            <img width="375" src="assets/BSc.png" /> <br>
            <div>
                <span><b>At the Ashkelon Academic College, when i completed B.Sc in Computer Science.</b></span> 
                <br><hr><br>
            </div>
            <h3>2014 - 2017</h3>
            <img width="375" src="assets/IDF.png" /> <br>
            <div>
               <span><b>At the Tel HaShomer Base, when i recieved a certificate of recognition and excellence on the Israeli Independence Day 2016.</b></span> 
               <br><hr><br> 
            </div>
            <h3>2010 - 2013</h3>
            <img width="375" src="assets/Shazar.jpg" /> <br>
            <div>
                <span><b>At Shazar High School in Bat Yam, when i studied and completed 10 study units in the Computer Science major.</b></span> 
                <br><hr><br>
            </div>
            <h3>2001 - 2007</h3>
            <img width="375" src="assets/Sokolov.png" /> <br>
            <div>
                <span><b>At my graduation ceremony of the elementary school Sokolov in Bat Yam.</b></span> 
                <br><hr><br>
            </div>
        </div>
</section>
